@import "tailwindcss";

@media (hover: hover) {
  .menu-button:hover {
    background-color: rgba(248, 244, 233, 0.15);
    border-color: rgba(248, 244, 233, 0.5);
  }

  .menu-button:hover svg {
    transform: scale(1.1);
  }

  .notActiveSection:hover {
    transform: translateX(0.40rem);
}
}
