@import "tailwindcss";

/* Hide number input arrows */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    appearance: none !important;
    margin: 0 !important;
}

.no-spinner {
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}

.add-member-btn svg {
  transition: transform 0.2s ease;
}

@media (hover: hover) {
  .menu-button:hover {
    background-color: rgba(248, 244, 233, 0.15);
    border-color: rgba(248, 244, 233, 0.5);
  }

  .menu-button:hover svg {
    transform: scale(1.1);
  }

  .notActiveSection:hover {
    transform: translateX(0.40rem);
  }

  .billsTableBtn:hover {
    background-color: #F5F5DC33;
    transform: scale(1.1);
  }

  .billsTableBtn:active {
      transform: scale(0.95);
  }

  .add-button {
    background-color: #F1E3D0;
    color: #5C4033;
    transition: background-color 0.2s ease, transform 0.2s ease;
  }

  .add-button:hover {
    background-color: #D8C3A5;
    transform: translateY(-1px);
  }

  .add-button:active {
    transform: translateY(0);
  }

  .form-btn:hover {
    background-color: #7A3A00;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
  }

  .form-btn:active {
    transform: translateY(0);
  }

  .cancel-btn:hover {
    background-color: #D8BE9A;
  }

  .cancel-btn:active {
    transform: translateY(1);
  }

  .savebill-btn:hover {
    background-color: #5C4033;
  }

  .savebill-btn:active {
    transform: translateY(1);
  }

  .add-member-btn:hover {
    transform: translateY(-3px);
  }

  .add-member-btn:active {
    transform: translateY(1)
  }

  .add-member-btn:hover svg {
      transform: rotate(90deg);
  }
}
