@import "tailwindcss";

@media (hover: hover) {
  .menu-button:hover {
    background-color: rgba(248, 244, 233, 0.15);
    border-color: rgba(248, 244, 233, 0.5);
  }

  .menu-button:hover svg {
    transform: scale(1.1);
  }

  .notActiveSection:hover {
    transform: translateX(0.40rem);
  }

  .billsTableBtn:hover {
    background-color: #F5F5DC33;
    transform: scale(1.1);
  }

  .billsTableBtn:active {
      transform: scale(0.95);
  }

  .add-button {
    background-color: #F1E3D0;
    color: #5C4033;
    transition: background-color 0.2s ease, transform 0.2s ease;
  }

  .add-button:hover {
    background-color: #D8C3A5;
    transform: translateY(-1px);
  }

  .add-button:active {
    transform: translateY(0);
  }
}
